body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: rgb(240, 240, 240);
}

main {
    flex: 1 0 auto;
}

.material-icons {
    padding-right: 20px;
    margin-top: 5px;
    position: center;
}

.page-footer {
    background-color: rgb(141, 141, 180);
}

.center-align {
    cursor: pointer;
}

.background-grey {
    background-color: grey !important;
}
